@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap");

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #a4bceb !important;
    }
}

.view,
body,
html {
    height: 100%
}

.navbar {
    background-color: rgba(0, 0, 0, .2)
}

.navbar-brand img {
    height: 60px;

}

.page-footer,
.top-nav-collapse {
    background-color: #1C2331
}

@media only screen and (max-width:768px) {
    .navbar {
        background-color: #617192
    }
}

.centered {
    color: white;
    font-size: 44px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-collapse {
    padding-left: 200px;
}

span {
    padding: 15px;
}

.bg-dark {
    background-color: #000000 !important;
}

/* Main Class CSS */

.main h3 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
}

.main h1 {
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}

.main p {
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
}

.main a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
}

.main .btnone {
    /*background: #00b894;*/
    background: #fff;
    color: #000;
}

.btnone:hover {
    background: #00b894;
    color: white;
}

.main .btntwo {
    background: #00b894;
    color: white;
}

.btntwo:hover {
    background: #fff;
    color: #000;
}

.change_content:after {
    content: "";
    animation: changetext 10s infinite linear;
    color: #00b894;
}

@keyframes changetext {
    0% {
        content: "Everest";
    }

    20% {
        content: "K2";
    }

    35% {
        content: "Manaslu";
    }

    60% {
        content: "Lhotse";
    }

    80% {
        content: "Cho Oyu";
    }

    100% {
        content: "Parbat";
    }
}

/* Main Class Css End */

/* Carasouel Css */
.testimonial-section {
    background-color: #ffffff;
    padding: 80px 0;
    min-height: 100vh;
}

.testi-img .img-box {
    max-width: 360px;
    margin: auto;
    text-align: center;
    position: relative;
}

.testi-img .circle {
    height: 360px;
    width: 360px;
    background-color: #fb9c9a;
    position: absolute;
    border-radius: 50%;
    left: 0;
    bottom: 0;
    transition: all 0.5s ease;
}

.testi-img .img-box-inner {
    position: relative;
    border-radius: 0 0 180px 180px;
    overflow: hidden;
}

.testi-img .img-box-inner img {
    max-width: 310px;
}

.testimonial-section .carousel-inner {
    margin-bottom: 20px;
}

.testimonial-section .carousel-control-prev {
    margin-right: 10px;
}

.testimonial-section .carousel-control-next,
.testimonial-section .carousel-control-prev {
    position: relative;
    height: 35px;
    width: 35px;
    background-color: #fb9c9a;
    display: inline-flex;
    border-radius: 50%;
}

.testimonial-section .carousel-control-prev img,
.testimonial-section .carousel-control-next img {
    width: 15px;
}

.testi-item h3,
.testi-item p {
    font-size: 18px;
}

.testi-item h3 {
    text-transform: capitalize;
}

/* Responsive */
@media(max-width:991px) {
    .testi-img .img-box {
        max-width: 300px;
    }

    .testi-img .circle {
        height: 300px;
        width: 300px;
    }

    .testi-img .img-box-inner {
        border-radius: 0 0 150px 150px;
    }

    .testi-img .img-box-inner img {
        max-width: 230px;
    }
}

@media(max-width:767px) {
    .testi-img {
        margin-bottom: 25px;
    }
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

/* Footer End */






.count-box {
    width: 100%;
}

.count-box i {
    align-items: center;
    display: block;
    font-size: 36px;
    color: #ffffff;
    float: left;
    line-height: 0;
}

.count-box span {
    font-size: 36px;
    line-height: 0px;
    display: block;
    font-weight: 700;
    color: #ffffff;
    margin-left: 50px;
}

.count-box p {
    padding: 15px 0 0 0;
    margin: 0 0 0 50px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #9da1a3;
}

.count-box a {
    font-weight: 600;
    display: block;
    margin-top: 20px;
    color: #5d6a75;
    font-size: 15px;
    font-family: "Satisfy", serif;
    transition: ease-in-out 0.3s;
}

.count-box a:hover {
    color: #82909c;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}



  